#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* Default height for desktop and larger screens */
#chat-box {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
textarea, button,label {
  resize: none;
  width: 100%;
}

/* Media query for mobile devices (screens 768px wide or less) */
@media (max-width: 768px) {
  /* Override height for smaller screens */
  #chat-box {
    height: 300px;
    width: 80%;
  }
  textarea,button,label,.loading {
    resize: none;
    width: 80%;
  }
}

